[user]
  name = {{ full_name }}
  email = {{ git_email }}

[url "git@github.com:"]
  insteadOf = https://github.com/
[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/

[github]
  user = {{ git_user }}

[color]
  ui = auto

[merge]
  defaultToUpstream = true
  tool = vimdiff
